html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin: 0;padding: 0;}
body,html{font: .12rem "微软雅黑",Arial;}
li{list-style: none;}
a{
	display: inline-block;
    text-decoration: none;
    color: #000000;
}
i,em{font-style: normal;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight: normal;}
input{outline: none;}
.clearfix::after{
    content: " ";
    clear: both;
    display: block;
    height:0;
    overflow: hidden;
    visibility: hidden;
}
